.header {
  margin: 0px;
  padding: 5px;
  background-color: rgb(115, 64, 163);
  color: rgb(216, 221, 207);
  font-weight: 800;
  text-align: center;
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
